<div class="search md-whiteframe-z3">
    <form ng-submit="search(query)">
        <md-input-container md-no-float>
            <md-icon>search</md-icon>
            <input ng-model="query" type="text" placeholder="Search">
        </md-input-container>
    </form>
</div>
<section layout-margin>
    <h2 class="md-subhead md-primary">Albums</h2>
    <div layout="row" layout-align="center center" layout-padding ng-if="albumsLoading">
        <md-progress-circular class="md-primary" md-mode="indeterminate"></md-progress-circular>
    </div>
    <md-list>
        <md-list-item class="md-2-line" ng-repeat="album in albums" ng-click="goto('album', album.uri)">
            <md-icon>album</md-icon>
            <div class="md-list-item-text">
                <h3>{{ album.name }}</h3>
                <p>{{ album.artists[0].name }}</p>
            </div>
        </md-list-item>
    </md-list>
</section>
<section layout-margin>
    <h2 class="md-subhead md-primary">Artists</h2>
    <div layout="row" layout-align="center center" layout-padding ng-if="artistsLoading">
        <md-progress-circular class="md-primary" md-mode="indeterminate"></md-progress-circular>
    </div>
    <md-list>
        <md-list-item ng-repeat="artist in artists" ng-click="goto('artist', artist.uri)">
            <md-icon>person</md-icon>
            <p>{{ artist.name }}</p>
        </md-list-item>
    </md-list>
</section>
<section layout-margin>
    <h2 class="md-subhead md-primary">Tracks</h2>
    <div layout="row" layout-align="center center" layout-padding ng-if="tracksLoading">
        <md-progress-circular class="md-primary" md-mode="indeterminate"></md-progress-circular>
    </div>
    <md-list>
        <md-list-item class="md-2-line" ng-repeat="track in tracks" ng-click="goto('track', track)">
            <md-icon>music_note</md-icon>
            <div class="md-list-item-text">
                <h3>{{ track.name }}</h3>
                <p>{{ track.artists[0].name }}</p>
            </div>
        </md-list-item>
    </md-list>
</section>
