<md-bottom-sheet class="md-list md-has-header">
    <md-list>
        <md-list-item>
            <md-button class="md-list-item-content" ng-click="playNext()">
                <md-icon class="md-accent">play_circle_outline</md-icon>
                <span class="md-inline-list-icon-label">Play next</span>
            </md-button>
        </md-list-item>
        <md-list-item>
            <md-button class="md-list-item-content" ng-click="playLast()">
                <md-icon class="md-primary">play_circle_outline</md-icon>
                <span class="md-inline-list-icon-label">Play last</span>
            </md-button>
        </md-list-item>
        <md-list-item>
            <md-button class="md-list-item-content" ng-click="playNow()">
                <md-icon class="md-warn">play_circle_outline</md-icon>
                <span class="md-inline-list-icon-label">Play Now</span>
            </md-button>
        </md-list-item>
        <md-divider></md-divider>
        <md-list-item>
            <md-button class="md-list-item-content" ng-click="addToPlaylist()">
                <md-icon>playlist_add</md-icon>
                <span class="md-inline-list-icon-label">Add to Playlist</span>
            </md-button>
        </md-list-item>
    </md-list>
</md-bottom-sheet>
